@page
@model SkillsModel
@{
    ViewData["Title"] = "Skills";
}

<div class="skill-content">
    @foreach (var type in Model.SKillTypes)
    {
    <div class="skill-title">@type.Title</div>
    <ul>
        @foreach (var item in type.Skills)
        {
            <li>@item.Title</li>
        }
    </ul>
    }
</div>