@page
@model LinksModel
@{
    ViewData["Title"] = "Skills";
}

<div class="row">

    @foreach (var profile in Model.Profiles)
    {
    <div class="col-sm-3 profile-link">
        <a href="@profile.URL">
            <h4>@profile.Title</h4>
            <div class="link-img">
                <img azure-src="@profile.IconName" />
            </div>
        </a>
    </div>
    }



</div>

