@page
@model Profile.Website.Pages.ProjectsModel
@{
    ViewData["Title"] = "Skills";
}

@foreach (var project in Model.Projects)
{
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            @project.Title
        </h4>
        <p class="card-text">
            AI based site generater. This web application allows you to upload images
        </p>
    </div>
    <div class="card-footer">
        @if (!string.IsNullOrEmpty(project.Link))
        {
            <a class="btn btn-sm btn-primary" href="@project.Link">Demo</a>
        }
        @if (!string.IsNullOrEmpty(project.SourceCode))
        {
            <a class="btn btn-sm btn-primary" href="@project.SourceCode">Source Code</a>
        }
    </div>
</div>
}

