[Unit]
Description=Sample blazor app

[Service]
WorkingDirectory=/var/www/blazorSample
ExecStart=/usr/bin/dotnet /var/www/blazorSample/pusher.dll --urls http://localhost:#{url.port}#
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=blazor-sample
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=signalr=#{config.signalr}#
Environment=ConnectionStrings__db="#{config.dbConn}#"


[Install]
WantedBy=multi-user.target