[Unit]
Description=Main profile website

[Service]
WorkingDirectory=/var/www/profile
ExecStart=/usr/bin/dotnet /var/www/profile/Profile.Website.dll --urls http://localhost:#{url.port}#
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=profile
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=connectionStrings__sqlDb='#{confg.sqlDb}#'
Environment=azBlob__keyName="#{config.blobName}#"
Environment=azBlob__key="#{config.blobKey}#"
Environment=azBlob__accountName="#{config.blobAccount}#"

[Install]
WantedBy=multi-user.target
