<!-- About Section -->
<section id="about" class="about section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <div class="title-shape">
            <svg viewBox="0 0 200 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="currentColor" stroke-width="2"></path>
            </svg>
        </div>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center">

            <div data-aos="fade-left" data-aos-delay="300">
                <div class="about-content">

                    <h2>.NET Fullstack developer</h2>

                    <p class="lead mb-4">Comes in like a wreaking ball.</p>

                    <p class="mb-4">And then says lol and lol</p>

                    <div class="personal-info">
                        <div class="row g-4">
                            <div class="col-6">
                                <div class="info-item">
                                    <span class="label">Name</span>
                                    <span class="value">Neville Nazerane</span>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="info-item">
                                    <span class="label">Email</span>
                                    <span class="value">nevillenazerane@yahoo.com</span>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="info-item">
                                    <span class="label">Occupation</span>
                                    <span class="value">.NET Developer</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</section><!-- /About Section -->